@using Periodical.Areas.Admin.Models;
@model Tuple<List<UserViewModel>>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron-indent"></div>
<div class="profile col-md-offset-1 col-md-10">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1tab" data-toggle="tab">Personal Data</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active profile-subscribes" id="1tab">
            <form action="/Admin/Management/Block" method="post" id="add-cash-form">               
                <table id="users-table" class="table table-projects row-border display table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Block</th>
                            <th>Save</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Block</th>
                            <th>Save</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (int i = 0; i < Model.Item1.Count(); i++)
                        {
                            <tr>
                                <td>@Model.Item1[i].FirstName @Model.Item1[i].LastName</td>
                                <td>@Model.Item1[i].Email</td>
                                <td>
                                    @Html.CheckBoxFor(m => m.Item1[i].IsBlocked)
                                    Block
                                </td>
                                <td>
                                    <div class="row btn-create-editor">
                                        <button type="submit" class="btn btn-info">
                                            <i class="glyphicon glyphicon-plus"></i> Save Changes
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
