<footer>
    <div class="content-wrapper">
        <div class="float-left footer-copy">
            <img class="img-brand" src="@Url.Content("~/Content/periodical_img.png")" alt="Periodical" />
            <p>&copy; @DateTime.Now.Year - Periodical Inc.</p>
        </div>
        @*<div class="float-right">
            <a href="#" class="scrollToTop"><h3>&#65514; Back to top &#65514;</h3></a>
        </div>*@
    </div>
</footer>